html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;

  background-color: black; 
  resize: none;
  overflow: hidden;
}
.backgroundImage {
  display: block;
  height: 100vh; 
  margin-left: auto;
  margin-right: auto;
}

.SceneButton {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  color: lightgray;
  font-size: 5vh;
  background-color: black;
}
